.container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  text-align: center;
  background-color: #2A2344;
  border-top: 1px solid rgba(119, 119, 119, 0.219);
}

.mediaSocial {
  margin-bottom: 1rem;
}

.mediaSocial ul {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.mediaSocial li {
  padding: 0 0.7rem;
}

.copy p {
  padding-top: 3rem;
}
