<div class="container">
  <div class="datails">
    <div>
      <button>Welcome! I'M</button>
    </div>
    <div class="about">
      <h1>Joyce De Fátima</h1>
      <p>Software Engineer Front-end</p>
      <p id="describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae doloremque nesciunt nam eligendi et, accusantium reiciendis rem, optio adipisci at quas expedita mollitia perspiciatis atque ab omnis similique ipsa fugit?</p>
    </div>
  </div>
  <div class="profile">
    <img src="assets/img/Profile.png" alt="Perfil">
  </div>
</div>