<div class="container">
  <div class="datails">
    <div>
      <button>Welcome! I'M</button>
    </div>
    <div class="about">
      <h2>Joyce De Fátima</h2>
      <p class="">Software Developer </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae doloremque nesciunt nam eligendi et, accusantium reiciendis rem, optio adipisci at quas expedita mollitia perspiciatis atque ab omnis similique ipsa fugit?</p>
    </div>
  </div>
  <div class="profile">
    <img src="" alt="Perfil">
  </div>
</div>