.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.8rem 1.5rem;
  background-color: #51172E;
  color: white;
  border: none;
  border-radius: 3px;
}

.about {
  font-size: 18px;
  margin-top: 1rem;
}

.about h2 {
  font-size: 28px;
}

.about p {
  font-size: 18px;
  margin-top: 0.5rem;
}

#describe {
  font-size: 16px;
  margin-top: 1rem;
  width: 520px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile img {
  width: 504px;
  height: 435px;
}
