<div class="container">
  <div class="border">
    <img src="" alt="Figma">
  </div>
  <div class="border">
    <img src="" alt="Html">
  </div>
  <div class="border">
    <img src="" alt="Css">
  </div>
  <div class="border">
    <img src="" alt="Javascript">
  </div>
  <div class="border">
    <img src="" alt="Typescript">
  </div>
  <div class="border">
    <img src="" alt="React">
  </div>
  <div class="border">
    <img src="" alt="Next">
  </div>
  <div class="border">
    <img src="" alt="Angular">
  </div>
</div>
