/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  color: #fff;
  background: #19142A;
}

main {
  margin: 3rem 10rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
